<div id="title">

  <img  id="gianpiero"src="{{image}}" alt="gianpiero">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>


</div>
<article class="about">

  <h2>ABOUT ME</h2>
  <p>
    "Hi everyone my name is Gianpiero Maccarrone but you can call me "G" I'm one of the Grow with Google winners how won the Challenge to study in Front-End Web Developer program at Udacity. I do really believe that Programming is my passion, I spend
      the entire day thinking about how I can build and improve existing program. Despite having long days at work, I always have energy for Programming and push myself to keep on learning"
  </p>

</article>
